- content_for :poster do
  .row.poster
    .col-lg-12
      = image_tag 'https://lh5.googleusercontent.com/-waCytK1hSTo/UKnsixkVMPI/AAAAAAAAFzA/pqz4rAN3x4s/w1438-h499-no/%25D0%25BE%25D0%25B1%25D1%2589+1.jpg'
      %p.lead
        В прошлом году было
        %strong круто
        !
        В этом году будет
        %strong безумно круто
        !

.row
  .col-lg-12
    &nbsp
.row
  .col-md-4
    %h1 1 – 2 ноября
    %h2 ОмГУ, ул. Мира, 55
  .col-md-8
    %p.lead
      TBD
      %strong GDG DevFest Omsk
      — это бесплатная IT-конференция c классными докладами про технологии Google от сотрудников компании Google, участников программы Google Developer Experts, и экспертов из всемирного GDG-коммьюнити.
